
<!--<div id="home" class="grupo">
        <h1 class="title">Home</h1>
        <div class="row">
          <div class="col-md-3 text-center">
              <%= image_tag('accesibilidad.jpg', :class => "img img-circle") %>
              <h3>Accesibilidad</h3>
              <p class="p-home">Tenemos estacionamientos en todos los distritos de Lima de manera que puedas contar con nosotros en el lugar que estes.</p>
          </div>
          <div class="col-md-3 text-center">
              <%= image_tag('confianza.jpg', :class => "img img-circle") %>
              <h3>Confianza</h3>
              <p class="p-home">Son mas de 5000 usuarios que han utilizado el servicio y que garantizan una buena experiencia con nosotros.</p>
          </div>
          <div class="col-md-3 text-center">
              <%= image_tag('seguridad.jpg', :class => "img img-circle") %>
              <h3>Seguridad</h3>
              <p class="p-home">Contamos con un control exhaustivo  de verificacion de estacionamientos para que puedas estar seguro al usar nuestro servicio.</p>
          </div>
          <div class="col-md-3 text-center">
              <%= image_tag('tiempo.jpg', :class => "img img-circle") %>
              <h3>Tiempo</h3>
          <p class="p-home">Reduce las horas interminables en la busqueda de un estacionamiento para usarlas en las cosas importantes de tu vida.</p>
          </div>
        </div>
      </div>-->
      
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-info">
      <div class="panel-heading">Formulario De Busqueda de Parqueo</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="string optional control-label">Fecha Desde</label>
              <input class="string optional form-control" type="text" name="started_at" id="started_at" data-provide='datepicker'>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="string optional control-label">Fecha Hasta</label>
              <input class="string optional form-control" type="text" name="ended_at" id="ended_at" data-provide='datepicker'>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group bootstrap-timepicker timepicker">
              <label class="control-label">Hora Desde</label>
              <input class="form-control input-small" type="text" name="started_time" id="started_time">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group bootstrap-timepicker timepicker">
              <label class="control-label">Hora Hasta</label>
              <input class="form-control input-small" type="text" name="ended_time" id="ended_time">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Distrito</label>
              <select class="form-control" type="text" name="district" id="district">
                <option>Molina</option>
                <option>Ate</option>
                <option>Villa María del Triunfo</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Typo de reservación</label>
              <select class="form-control" type="text" name="reservation_type" id="reservation_type">
                <option>Diario</option>
                <option>Semanal</option>
                <option>Mensual</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 pull-right">
            <button type="button" class="btn btn-lg btn-success" id="buscar_park">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">Parqueos</div>
      <div class="panel-body">
        
        <div class="group-col">
          <div class="row">
            <div class="col-lg-8">
              <lavel>Dirección: Aqui se mostrará la dirección exacta</lavel><br>
              <lavel>Distrito: Ate</lavel><br>
              <lavel>Precio: <b>S/. 20 / hora</b></lavel><br>
              <button type="button" class="btn btn-info">Ver Más</button>
              <%= link_to "Reservar", reserve_new_path, :class=>"btn btn-md btn-success" %>
            </div>
            <div class="col-lg-4">
              <%= image_tag('img_mini.jpg', :class => "img img-responsive", :width =>'100', :height => '100') %>
            </div>
          </div>
        </div>
        
        <div class="group-col">
          <div class="row fila-lista">
            <div class="col-lg-4">
              <%= image_tag('img_mini.jpg', :class => "img img-responsive", :width =>'100', :height => '100') %>
            </div>
            <div class="col-lg-8">
              <lavel>Dirección: Av. Los heraldos negros 2da etapa</lavel><br>
              <lavel>Distrito: Ate</lavel><br>
              <lavel>Precio: <b>S/. 20 / hora</b></lavel><br>
              <button type="button" class="btn btn-info">Ver Más</button>
              <%= link_to "Reservar", reserve_new_path, :class=>"btn btn-md btn-success" %>
            </div>
          </div>
        </div>
        
        <div class="group-col">
          <div class="row">
            <div class="col-lg-8">
              <lavel>Dirección: Av. Los heraldos negros 2da etapa</lavel><br>
              <lavel>Distrito: Ate</lavel><br>
              <lavel>Precio: <b>S/. 20 / hora</b></lavel><br>
              <button type="button" class="btn btn-info">Ver Más</button>
              <%= link_to "Reservar", reserve_new_path, :class=>"btn btn-md btn-success" %>
            </div>
            <div class="col-lg-4">
              <%= image_tag('img_mini.jpg', :class => "img img-responsive", :width =>'100', :height => '100') %>
            </div>
          </div>
        </div>
        
        <div class="group-col">
          <div class="row fila-lista">
            <div class="col-lg-4">
              <%= image_tag('img_mini.jpg', :class => "img img-responsive", :width =>'100', :height => '100') %>
            </div>
            <div class="col-lg-8">
              <lavel>Dirección: Aqui se mostrará la dirección exacta</lavel><br>
              <lavel>Distrito: Ate</lavel><br>
              <lavel>Precio: <b>S/. 20 / hora</b></lavel><br>
              <button type="button" class="btn btn-info">Ver Más</button>
              <%= link_to "Reservar", reserve_new_path, :class=>"btn btn-md btn-success" %>
            </div>
          </div>
        </div>
        
        <div class="group-col">
          <div class="row">
            <div class="col-lg-8">
              <lavel>Av. Los heraldos negros 2da etapa</lavel><br>
              <lavel>Distrito: Ate</lavel><br>
              <lavel>Precio: <b>S/. 20 / hora</b></lavel><br>
              <button type="button" class="btn btn-info">Ver Más</button>
              <%= link_to "Reservar", reserve_new_path, :class=>"btn btn-md btn-success" %>
            </div>
            <div class="col-lg-4">
              <%= image_tag('img_mini.jpg', :class => "img img-responsive", :width =>'100', :height => '100') %>
            </div>
          </div>
        </div>
        
        <div class="group-col">
          <div class="row fila-lista">
            <div class="col-lg-4">
              <%= image_tag('img_mini.jpg', :class => "img img-responsive", :width =>'100', :height => '100') %>
            </div>
            <div class="col-lg-8">
              <lavel>Av. Los heraldos negros 2da etapa</lavel><br>
              <lavel>Distrito: Ate</lavel><br>
              <lavel>Precio: <b>S/. 20 / hora</b></lavel><br>
              <button type="button" class="btn btn-info">Ver Más</button>
              <%= link_to "Reservar", reserve_new_path, :class=>"btn btn-md btn-success" %>
            </div>
          </div>
        </div>
        
        <div class="detalle-park" style="display:none">
          <div class="row">
            <div class="col-lg-12">
              <%= image_tag('img_mini.jpg', :class => "img img-responsive", :width =>'500', :height => '300') %>
            </div>
            <div class="col-lg-12">
              <b>Dirección:</b>Av. Los heraldos negros 2da etapa<br>
              <b>Distrito:</b>Villa María del triunfo<br>
              <b>Precio:</b>S/. 50<br>
              <b>Descripción:</b>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo)<br>
              <br>
              
            
              <%= link_to "Reservar", reserve_new_path, :class=>"btn btn-lg btn-success" %>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
    $('#started_at').datepicker();
    $('#ended_at').datepicker();
    
    $('#started_time').timepicker();
    $('#ended_time').timepicker();
    
    //boton reservar
    $(".group-col .btn-info").on("click", function(){
      $(".group-col").toggle();
      $(".detalle-park").toggle();
    });
    
    //ocultamos todos los item y mostramos el detalle
    $(".group-col .btn-success").on("click", function(){
      console.log("holaaa");
    })
    
    $("#buscar_park").on("click", function(){
      $(".group-col").show();
      $(".detalle-park").hide();
    });
    
  })
</script>


