<%= simple_form_for @place, :html => { :class => 'form-horizontal' } do |f| %>
<div class="panel panel-success">
    <!--<div class="panel-heading">Parqueos</div>-->
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :address %>
          <%= error_span(@place[:address]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :price %>
          <%= error_span(@place[:price]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :url_image %>
          <%= error_span(@place[:url_image]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :started_at %>
          <%= error_span(@place[:started_at]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :ended_at %>
          <%= error_span(@place[:ended_at]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :started_time %>
          <%= error_span(@place[:started_time]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :ended_time %>
          <%= error_span(@place[:ended_time]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.input :description %>
          <%= error_span(@place[:description]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.association :district %>
          <%= error_span(@place[:district_id]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.association :reservation_type %>
          <%= error_span(@place[:reservation_type_id]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.hidden_field :user %>
          <%= error_span(@place[:user_id]) %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <%= f.hidden_field :state %>
          <%= error_span(@place[:state]) %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <%= f.button :submit, :class => 'btn btn-success' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                places_path, :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
