<li><%= link_to "Distrito", districts_path %></li>
<li><%= link_to "Roles", roles_path %></li>
<li><%= link_to "Menus", menus_path %></li>
<li><%= link_to "Menu Roles", menu_roles_path %></li>
<li><%= link_to "Reservations Types", reservation_types_path %></li>